[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
bcrypt = "*"
"beautifulsoup4" = "*"
"bs4" = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
"httplib2" = "*"
idna = "*"
itsdangerous = "*"
jws = "*"
lockfile = "*"
msgpack-python = "*"
oauth2client = "*"
patool = "*"
protobuf = "*"
"pyasn1" = "*"
"pyasn1-modules" = "*"
pycodestyle = "*"
pycparser = "*"
pycryptodome = "*"
pylzma = "*"
rarfile = "*"
requests = "*"
requests-toolbelt = "*"
rsa = "*"
six = "*"
"urllib3" = "*"
virtualenv = "*"
wrapt = "*"
graphene-sqlalchemy = "*"
CacheControl = "*"
Flask = "*"
Flask-JWT-Extended = "*"
Flask-SQLAlchemy = "*"
"Jinja2" = "*"
MarkupSafe = "*"
Pillow = "*"
PyJWT = "*"
PyYAML = "*"
SQLAlchemy = "*"
Werkzeug = "*"
celery = "*"
sqlalchemy-utils = "*"
flask-cors = "*"
mysqlclient = "*"
python-magic = "*"
flask-graphql = "*"
graphene = ">=2.0"
redis = "*"

[dev-packages]

[requires]
python_version = "3.6"
