directories:
    comics: /data/comics/comics
    images: /data/comics/images
    read: /data/comics/read

comicvine:
    apikey:

mysql:
   database:
   user:
   pass:
   host:
   port:

email:
  sesaccess:
  sespass:
  region: us-east-1
  from:

firebase:
  apiKey:
  authDomain:
  databaseURL:
  storageBucket:

jwt:
  secret:
