directories:
    comics: /var/comicbetter/comics
    images: /var/comicbetter/images
    read: /var/comicbetter/read

comicvine:
    apikey:

mysql:
   database:
   user:
   pass:
   host:
   port:

email:
  sesaccess:
  sespass:
  region: us-east-1
  from:

firebase:
  apiKey:
  authDomain:
  databaseURL:
  storageBucket:

jwt:
  secret:
