app:
     debug: True
     name: ComicBetter

schema:
    engine: mysql

flask:
    secret:
    salt:
    csrf:

sqlite:
    name: var/app.db

mysql:
    username: change_user
    password: change_pass
    host: 127.0.0.1
